<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body class="comprar">
    <!---Inicio del header-->
        <nav class="container-menu">
            <picture class="logo"><img id="logo-img" src="../image/logo.jpeg"></picture>
                <a class="menu__link" href="../../index.html">Inicio</a>
                <a class="menu__link" href="./nuestrahistoria.html">Nuestra Historia</a>
                <a class="menu__link" href="./productos.html">Productos</a>
                <a class="menu__link" href="./comprar.html">¿Cómo comprar?</a>
                <a class="menu__link" href="./contacto.html">Contacto</a>
        </nav>
    <!---Fin del header-->
    <section class="intro_buy">
        <h1>¿Cómo comprar?</h1>
        <p>
            Las compras las puedes realizar a través de nuestras redes sociales en Facebook o Instagram.
        </p>
    </section>
        <section class="how2buy">
                <figure class="how2buy__step" ><img src="../image/paso1.jpg"><figcaption>Elige el diseño</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso2.jpg"><figcaption>Elige tu color favorito</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso3.jpg"><figcaption>Contáctanos en Facebook o Intagram</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso4.jpg"><figcaption>Paga tu pedido</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso5.jpg"><figcaption>Proporciona datos de envío</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso6.jpg"><figcaption>Espera al repartidor</figcaption></figure>
                <figure class="how2buy__step" ><img src="../image/paso7.jpg"><figcaption>¡Disfruta!</figcaption></figure>
        </section>

        <hr>
        <section class="how2buy_FAQ">
            <p>Preguntas Frecuentes</p>
            <ol class="FAQ">
                <li>¿Nos gusta lo que hacemos?</li>
                - ¡Amamos!
                <li>¿Hay envíos nacionales?</li>
                - ¡Claro que si!
                <li>¿Cuánto cuestan los envíos nacionales?</li>
                - Cientoveinte pesos mexicanos
                <li>¿Puedo pedir un diseño personalizado?</li>
                -Si! Envíanos mensaje privado por Facebook o Instagram.
            </ol>
        </section>
    <!---Inicio Footer-->
    <footer class="container_footer">
        <div class="footer__copyright">
            <p class="footer__copyright__text">Todos los derechos reservados</p>
        </div>
        <div class="footer__redes">
            <p class="footer__redes__text">Redes Sociales</p>
        </div>
    </footer>
    <!---.Fin Footer-->
</body>
</html>