<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body class="contacto">
    <!---Inicio del header-->
        <nav class="container-menu">
            <picture class="logo"><img id="logo-img" src="../image/logo3.jpg"></picture>
                <a class="menu__link" href="../../index.html">Inicio</a>
                <a class="menu__link" href="./nuestrahistoria.html">Nuestra Historia</a>
                <a class="menu__link" href="./productos.html">Productos</a>
                <a class="menu__link" href="./comprar.html">¿Cómo comprar?</a>
                <a class="menu__link" href="./contacto.html">Contacto</a>
        </nav>
    <!---Fin del header-->
    <section class="contact">
        <h1>Contacto</h1>
        <picture class="sticky"><img src="../image/stickyghost.jpg"></picture>
        <p class="form__text">Cualquier comentario o duda que tengas y no cuentes con redes sociales, puedes enviarnos un correo. Anota tus datos en el siguiente formulario y te responderemos lo más pronto posible.</p>
        <form action="" method="POST" enctype="">
            <label class="form__text" for="Nombre Completo">Ingresa tu nombre completo:</label>
            <input class="form__input__name" type="text" name="Nombre Completo" id=""><br>
            <label class="form__text" for="Correo Electrónico">Ingresa tu correo electrónico:</label>
            <input class="form__input__mail" type="email" name="Correo Electrónico" id=""><br>
            <label class="form__text" for="Número de Teléfono">Ingresa tu número de teléfono:</label>
            <input class="form__input__tel" type="tel" name="Número de Teléfono" id=""><br>
            <label class="form__text" for="Dudas y/o Comentarios">Dudas y/o comentarios:</label>
            <input class="form__input__bigtext" type="text" name="Dudas y/o Comentarios" id=""><br>
            <br>
            <input class="form__boton__submit" type="submit">
            <input class="form__boton__borrar"type="reset" value="Reset">
        </form>
    </section>
    <!---Inicio Footer-->
    <footer class="container_footer">
        <div class="footer__copyright">
            <p class="footer__copyright__text">Todos los derechos reservados</p>
        </div>
        <div class="footer__redes">
            <p class="footer__redes__text">Redes Sociales</p>
        </div>
    </footer>
    <!---.Fin Footer-->
</body>
</html>