<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body class="historia">
    <!---Inicio del header-->

        <nav class="container-menu">
            <picture class="logo"><img id="logo-img" src="../image/logo.jpeg"></picture>
                <a class="menu__link" href="../../index.html">Inicio</a>
                <a class="menu__link" href="./nuestrahistoria.html">Nuestra Historia</a>
                <a class="menu__link" href="./productos.html">Productos</a>
                <a class="menu__link" href="./comprar.html">¿Cómo comprar?</a>
                <a class="menu__link" href="./contacto.html">Contacto</a>
        </nav>
    <!---Fin del header-->
    <section class="historia__text">
        <h1>Nuestra Historia</h1>
        <p class="smaller_text">
            Detrás de este proyecto estamos personitas como tú que tuvieron un sueño y lo quieren hacer realidad. La marca busca apoyar el amor propio y la autoaceptación. Al estar en esta página leyendo, ya estás formando parte de nuestra historia. Esperamos puedas encontrar algún producto dentro de nuestro catálogo que te haga sonreír . xoxo
        </p>
    </section>
        <div class="historia__img">
        <img class="historia__img_sl" src="../image/selflove.jpg">
        <img class="historia__img_sl" src="../image/selflove3.jpg">
        <img class="historia__img_sl" src="../image/selflove2.jpg">
        </div>
    <!---Inicio Footer-->
    <footer class="container_footer">
        <div class="footer__copyright">
            <p class="footer__copyright__text">Todos los derechos reservados</p>
        </div>
        <div class="footer__redes">
            <p class="footer__redes__text">Redes Sociales</p>
        </div>
    </footer>
    <!---.Fin Footer-->
</body>
</html>