<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body class="products">
    <!---Inicio del header-->
        <nav class="container-menu">
            <picture class="logo"><img id="logo-img" src="../image/logo.jpeg"></picture>
                <a class="menu__link" href="../../index.html">Inicio</a>
                <a class="menu__link" href="./nuestrahistoria.html">Nuestra Historia</a>
                <a class="menu__link" href="./productos.html">Productos</a>
                <a class="menu__link" href="./comprar.html">¿Cómo comprar?</a>
                <a class="menu__link" href="./contacto.html">Contacto</a>
        </nav>
    <!---Fin del header-->
    <div class="title"><h1>Productos</h1></div>
        <section class="productos1">
            <div class="prod_info">
                Chamarra Mágica 1 
                <ul>
                    Precio: $1234 <br>
                    Talla(s): CH | M | G <br>
                    Medidas: ancho= | largo= <br>
                    Detalles:
                </ul>
            </div>
                <picture><img class="productos__image" src="../image/chamarra1.1.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra1.2.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra1.3.jpg"></picture>
        </section>

        <section class="productos2">
            <div class="prod_info">
                Chamarra Mágica 2 
                <ul>
                    Precio: $2345 <br>
                    Talla(s): CH | M | G <br>
                    Medidas: ancho= | largo= <br>
                    Detalles: <br>
                </ul>
            </div>
                <picture><img class="productos__image" src="../image/chamarra2.1.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra2.2.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra2.3.jpg"></picture>
        </section>

        <section class="productos3">
            <div class="prod_info">
                Chamarra Mágica 3 
                <ul>
                    Precio: $3456 <br>
                    Talla(s): CH | M | G <br>
                    Medidas: ancho= | largo= <br>
                    Detalles: 
                </ul>
            </div>
                <picture><img class="productos__image" src="../image/chamarra3.1.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra3.2.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra3.3.jpg"></picture>
        </section>

        <section class="productos4">
            <div class="prod_info">
                Chamarra Mágica 4 
                <ul>
                    Precio: $4567 <br>
                    Talla(s): CH | M | G <br>
                    Medidas: ancho= | largo= <br>
                    Detalles: 
                </ul>
            </div>
                <picture><img class="productos__image" src="../image/chamarra4.1.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra4.2.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra4.3.jpg"></picture>
        </section>

        <section class="productos5">
            <div class="prod_info">
                Chamarra Mágica 5 
                <ul>
                    Precio: $5678 <br>
                    Talla(s): CH | M | G <br>
                    Medidas: ancho= | largo= <br>
                    Detalles: 
                </ul>
            </div>
                <picture><img class="productos__image" src="../image/chamarra5.1.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra5.2.jpg"></picture>
                <picture><img class="productos__image" src="../image/chamarra5.3.jpg"></picture>
        </section>

    <!---Inicio Footer-->
    <footer class="container_footer">
        <div class="footer__copyright">
            <p class="footer__copyright__text">Todos los derechos reservados</p>
        </div>
        <div class="footer__redes">
            <p class="footer__redes__text">Redes Sociales</p>
        </div>
    </footer>
    <!---.Fin Footer-->
</body>
</html>