<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpookieCookie | Productos</title>
    <meta name="description" content="Encuentra aquí todos los productos disponibles de Spookie Cookie">
    <meta name="keywords" content="chamarra, diseños, chamarra suave, chamarra con diseños, bordado, chamarras bordadas">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../css/mains.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body style="background-image: linear-gradient(to bottom, #e3a4c6, #e99db3, #ea989e, #e6958a, #dd9576);">
    <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <!--<div class="container-fluid">-->
                <a class="navbar-brand" href="../../index.html">
                    <img src="../image/logo3.jpg" class="logo d-inline-block align-top" alt="Logo SpookieCookie">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link bi bi-house-heart" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link bi bi-person-hearts" href="../views/nuestrahistoria.html">Nuestra Historia</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link bi bi-box2-heart" href="../views/productos.html">Productos</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link bi bi-patch-question-fill" href="../views/comprar.html">¿Cómo comprar?</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link bi bi-person-lines-fill" href="../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bi bi-cart" href="../views/cart.html">Carrito</a>
                        </li>
                    </ul>
                </div>
            <!--</div>-->
        </nav>
    </header>
    <!--END HEADER-->

    <div class="container">
        <h1>Productos</h1>
        <!--COLOR-->
        <br>
        <!-- <div class="container-selecting">
            <button type="button" class="selecting text-small">Hacer un pedido</button>
        </div> -->
        <h2 class="text">Paso 1: Elige tu color favorito y talla</h2>
        <section class="d-flex flex-wrap justify-content-around align-items-center">
            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorSerenity" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/babyblue.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Serenity</p>
                </div>
            </div>
    
            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorSnorkelBlue" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/blue.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Snorkel Blue</p>
                </div>
            </div>
    
            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorGreenFlash" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/green.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Green Flash</p>
                </div>
            </div>
    
            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorLilacGray" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/lila.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Lilac Gray</p>
                </div>
            </div>
    
            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorPeachEcho" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/peach.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Peach Echo</p>
                </div>
            </div>

            <div class="card" style="width: 10rem; height: 308px;">
                <button id="colorRoseQuartz" class="colored"><img class="card-img-top colors mx-auto d-block" src="../image/pink.png" alt="chamarra"></button>
                <div class="card-body">
                    <p class="card-text text-small">Color Rose Quartz</p>
                </div>
            </div>
        </section>

        <h2 class="text">Paso 2: Elige la talla que más te guste</h2>
        <div>
            <div class="card" style="width: 12rem;">
                <div class="card-body">
                    <p class="card-text text-small">Talla:</p>
                    <div class="d-flex flex-wrap justify-content-around align-items-center">
                        <button id="chica" class="size">CH</button>
                        <button id="mediana" class="size">M</button>
                        <button id="grande" class="size">G</button>
                    </div>
                </div>
            </div>
        </div>
        <!--DISEÑOS-->
        <h2 class="text">Paso 3: Elige la frase que más te guste</h2>
        <section class="d-flex flex-wrap justify-content-around align-items-center">
            <div class="row">
                <div class="col-sm-6">
                    <button id="Aprende_a_Amar" class="phrases">
                        <div class="card card-phrase">
                            <div class="card-body">
                                <h5 class="card-title text">Aprende a amar</h5>
                                <p class="card-text text-small">Izquierda: Eres suficiente y amada<br>
                                Derecha: Sé por ti y para ti
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="Hazlo_Brillar" class="phrases">
                        <div class="card card-phrase">
                            <div class="card-body">
                                <h5 class="card-title text">Hazlo brillar</h5>
                                <p class="card-text text-small">Izquierda: No temas a la oscuridad<br>
                                Derecha: Brillas como estrella
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="Valora_los_dias" class="phrases">
                        <div class="card card-phrase">
                            <div class="card-body">
                                <h5 class="card-title text">Valora los días</h5>
                                <p class="card-text text-small">Izquierda: Eres única e imperfecta<br>
                                Derecha: Eso te hace mágica
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-sm-6">
                    <button id="Yo_Soy" class="phrases">
                        <div class="card card-phrase">
                            <div class="card-body">
                                <h5 class="card-title text">Yo soy</h5>
                                <p class="card-text text-small">Izquierda: Sé la mejor versión de tí<br>
                                Derecha: y ámate por ello
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div>
                <button id="AddToCart" class="btn btn-primary">
                    Agregar al carrito
                </button>
            </div>
        </section>

        <h2 class="text">Ejemplos:</h2>
        <section class="d-flex flex-wrap justify-content-around align-items-center">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top examples mx-auto d-block" src="../image/example1.jpg" alt="chamarra">
                <div class="card-body">
                    <p class="card-text text-small">Valora los días</p>
                </div>
            </div>
    
            <div class="card" style="width: 17rem;">
                <img class="card-img-top examples mx-auto d-block" src="../image/example2.jpg" alt="chamarra">
                <div class="card-body">
                    <p class="card-text text-small">Yo soy</p>
                </div>
            </div>
        </section>
    </div>

    <br>
    <br>
    <!--START FOOTER-->
    <footer class="bg-light text-center text-white">
        <div class="p-4 pb-0" style="background-color: #9F6272;">
            <section>
                <a class="btn btn-floating m-1 " href="https://www.facebook.com" role="button">
                    <img class="img-thumbnail footer__thumbnail" src="../image/fb.jpg">
                </a>
                <a class="btn btn-floating m-1" href="https://www.instagram.com" role="button">
                    <img class="img-thumbnail footer__thumbnail" src="../image/ig.jpg">
                </a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: #9F6272;">
            © 2022 Copyright
            <a class="text-white" href="#"></a>
        </div>
    </footer>
    <!--END FOOTER-->

    <!--Bootstrap Scripts-->
    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>