.spookie{

    transform: translateX(30px);
    top: 20vh;
    animation: ghost 12s ease-in-out infinite;
    opacity: 0.5;
    width: 40px;
}
@each $key1, $value2 in $cookies{
    .#{$value2} {
        transform: translateX(60px);
        top:20vh;
        opacity: 0;
        @include msr(40px,40px);
        animation: eatme#{$key1} 12s ease-in infinite;
    }
}

.inspo__img{
    width: 50%;
    min-width: 300px;
}
.prod__muestra_img{
    @include msr(230px,320px);
    padding: 5px;
}