@each $key, $value in $secret{
    .#{$value} {
        opacity: 0;
        top: 20vh;
        right: auto;
        @include msr(70px,70px);
        margin: 10px;
        animation: floating#{$key} 10s ease-in-out infinite
    }
}