.productos_image{
    @include msr(250px,320px);
    margin: 5px;
}
.colors{
    width: 120px;
    height: 150px;
    text-align: center;
    padding: 5px;
}
.examples{
    width: 220px;
    height: 250px;
    text-align: center;
    padding: 5px;
}