.productos_image{
    @include msr(250px,320px);
    margin: 5px;
}
.colors{
    width: 120px;
    height: 150px;
    text-align: center;
    padding: 5px;
}
.examples{
    width: 220px;
    height: 250px;
    text-align: center;
    padding: 5px;
}
.selecting{
    background-color: #DE7A8E;
    border: 1px solid;
    border-color: #743A25;
    text-align: center;
}
.container-selecting{
    text-align: center;
}
.size{
    background-color: pink;
    border: solid 2px fuchsia;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1rem;
    width: 40px;
}
.colored, .phrases{
    background: none;
	color: inherit;
    border: none;
}
.disabled{
    pointer-events: none;
}
.selected{
    border: solid 6px #9F6272;
}
button:active{
    border: none;
}