/*IMPORTS*/
/*MISCELANEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 50px;
  color: #9F6272;
  animation-name: bigger;
  animation-duration: 5s;
  animation-iteration-count: 2;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.text {
  font-family: 'League Spartan', sans-serif;
  color: #743A25;
  text-align: justify;
  padding: 10px;
  font-size: 1.5rem; }

.linksnav:hover {
  color: #482F5F; }

h1:hover {
  font-size: 60px; }

.prod__muestra_img:hover {
  width: 310px; }

@media screen and (max-width: 779px) {
  .inspo_text {
    order: -1; }
  .navbar-brand {
    margin-right: 0; }
  .logo {
    width: 50%; } }

/*PARTIALS*/
header {
  grid-area: header;
  background-color: #9F6272; }

.logo {
  width: 45%; }

@media screen and (max-width: 539px) {
  .navbar-brand {
    width: 300px; } }

.footer {
  background-color: #9F6272;
  grid-area: footer; }
  .footer__thumbnail {
    width: 46px; }

/*VIEWS*/
.spookie {
  position: absolute;
  transform: translateX(30px);
  top: 20vh;
  animation: ghost 12s ease-in-out infinite;
  opacity: 0.5;
  width: 40px; }

.cookies {
  position: absolute;
  transform: translateX(60px);
  top: 20vh;
  opacity: 0;
  width: 40px;
  height: 40px; }

.cookie {
  animation: eatme 12s infinite; }
  .cookie2 {
    animation: eatme2 12s infinite; }
  .cookie3 {
    animation: eatme3 12s infinite; }

.inspo__img {
  width: 50%;
  min-width: 300px; }

.prod__muestra_img {
  width: 230px;
  height: 320px;
  padding: 5px; }

@media screen and (max-width: 779px) {
  .inspo_text {
    order: -1; } }

@keyframes ghost {
  0% {
    transform: translateX(30px); }
  10% {
    transform: translateX(60px); }
  20% {
    transform: translateX(90px); }
  30% {
    transform: translateX(120px); }
  40% {
    transform: translateX(150px); }
  50% {
    transform: translateX(180px); }
  60% {
    transform: translateX(210px); }
  70% {
    transform: translateX(240px); }
  80% {
    transform: translateX(270px); }
  90% {
    transform: translateX(300px); }
  100% {
    transform: translateX(330px); } }

@keyframes eatme {
  0% {
    transform: translateX(70px);
    opacity: 0.4; }
  10% {
    transform: translateX(100px);
    opacity: 0.4; }
  20% {
    transform: translateX(130px);
    opacity: 0.4; }
  30% {
    transform: translateX(160px);
    opacity: 0; }
  40% {
    transform: translateX(180px);
    opacity: 0; }
  50% {
    transform: translateX(210px);
    opacity: 0; }
  60% {
    transform: translateX(240px);
    opacity: 0; }
  70% {
    transform: translateX(270px);
    opacity: 0; }
  80% {
    transform: translateX(290px);
    opacity: 0; }
  90% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    transform: translateX(330px);
    opacity: 0; } }

@keyframes eatme2 {
  0% {
    transform: translateX(70px);
    opacity: 0; }
  10% {
    transform: translateX(100px);
    opacity: 0; }
  20% {
    transform: translateX(130px);
    opacity: 0.4; }
  30% {
    transform: translateX(160px);
    opacity: 0.4; }
  40% {
    transform: translateX(180px);
    opacity: 0.4; }
  50% {
    transform: translateX(210px);
    opacity: 0; }
  60% {
    transform: translateX(240px);
    opacity: 0; }
  70% {
    transform: translateX(270px);
    opacity: 0; }
  80% {
    transform: translateX(290px);
    opacity: 0; }
  90% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    transform: translateX(330px);
    opacity: 0; } }

@keyframes eatme3 {
  0% {
    transform: translateX(70px);
    opacity: 0; }
  10% {
    transform: translateX(100px);
    opacity: 0; }
  20% {
    transform: translateX(130px);
    opacity: 0; }
  30% {
    transform: translateX(160px);
    opacity: 0; }
  40% {
    transform: translateX(180px);
    opacity: 0.4; }
  50% {
    transform: translateX(210px);
    opacity: 0.4; }
  60% {
    transform: translateX(240px);
    opacity: 0.4; }
  70% {
    transform: translateX(270px);
    opacity: 0.4; }
  80% {
    transform: translateX(290px);
    opacity: 0.4; }
  90% {
    transform: translateX(300px);
    opacity: 0; }
  100% {
    transform: translateX(330px);
    opacity: 0; } }
