/*IMPORTS*/
/*MISCELANEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=League+Spartan&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

h1 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 50px;
  color: #9F6272;
  animation-name: bigger;
  animation-duration: 5s;
  animation-iteration-count: 2;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.text, .text-small, .text-small-ctc {
  font-family: 'League Spartan', sans-serif;
  color: #743A25;
  text-align: justify;
  padding: 10px;
  font-size: 1.5rem; }

.text-small {
  font-size: 1.3rem;
  text-align: center; }
  .text-small-ctc {
    font-size: 1.3rem;
    padding: 10px; }

.linksnav:hover {
  color: #482F5F; }

h1:hover {
  font-size: 60px; }

.prod__muestra_img:hover, .productos__image:hover, .productos_image:hover {
  width: 310px; }

@media screen and (min-width: 600px) and (max-width: 1150px) {
  .productos__image {
    width: 250px;
    height: 320px;
    margin: 5px; }
  .how2buy {
    flex-direction: column; }
  .how2buy__step > img {
    display: none; } }

@media screen and (min-width: 991px) and (max-width: 1199px) {
  img.productos_image {
    width: 290px;
    height: 360px;
    margin: 5px; } }

@media screen and (max-width: 779px) {
  .inspo_text {
    order: -1; }
  .navbar-brand {
    margin-right: 0; }
  .logo {
    width: 50%; } }

@media screen and (max-width: 599px) {
  .productos__image {
    width: 250px;
    height: 320px;
    margin: 5px; }
  .how2buy {
    flex-direction: column; }
  .how2buy__step > img {
    display: none; } }

@media screen and (max-width: 539px) {
  picture > .secret1 {
    width: 50px;
    height: 50px;
    margin: 5px; }
  picture > .secret2 {
    width: 50px;
    height: 50px;
    margin: 5px; }
  picture > .secret3 {
    width: 50px;
    height: 50px;
    margin: 5px; } }

@media screen and (max-width: 769px) {
  li.thetablecell {
    display: table-row;
    padding-bottom: 10px; } }

@keyframes ghost {
  0% {
    transform: translateX(30px); }
  10% {
    transform: translateX(60px); }
  20% {
    transform: translateX(90px); }
  30% {
    transform: translateX(120px); }
  40% {
    transform: translateX(150px); }
  50% {
    transform: translateX(180px); }
  60% {
    transform: translateX(210px); }
  70% {
    transform: translateX(240px); }
  80% {
    transform: translateX(270px); }
  90% {
    transform: translateX(300px); }
  100% {
    transform: translateX(330px); } }

@keyframes eatme1 {
  0% {
    opacity: 0; }
  10% {
    transform: translateX(70px);
    opacity: 0.4; }
  20% {
    transform: translateX(90px);
    opacity: 0.4; }
  30% {
    transform: translateX(110px);
    opacity: 0.4; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes eatme2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% { }
  30% {
    transform: translateX(80px);
    opacity: 0; }
  40% {
    transform: translateX(100px);
    opacity: 0.4; }
  50% {
    transform: translateX(120px);
    opacity: 0.4; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes eatme3 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    transform: translateX(110px);
    opacity: 0.4; }
  70% {
    transform: translateX(130px);
    opacity: 0.4; }
  80% {
    transform: translateX(140px);
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes floating1 {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes floating2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes floating3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

/*PARTIALS*/
header {
  grid-area: header;
  background-color: #9F6272; }

.logo {
  width: 45%; }

@media screen and (max-width: 539px) {
  .navbar-brand {
    width: 300px; } }

.footer {
  background-color: #9F6272;
  grid-area: footer; }
  .footer__thumbnail {
    width: 46px; }

/*VIEWS*/
.spookie {
  transform: translateX(30px);
  top: 20vh;
  animation: ghost 12s ease-in-out infinite;
  opacity: 0.5;
  width: 40px; }

.cookie1 {
  transform: translateX(60px);
  top: 20vh;
  opacity: 0;
  width: 40px;
  height: 40px;
  animation: eatme1 12s ease-in infinite; }

.cookie2 {
  transform: translateX(60px);
  top: 20vh;
  opacity: 0;
  width: 40px;
  height: 40px;
  animation: eatme2 12s ease-in infinite; }

.cookie3 {
  transform: translateX(60px);
  top: 20vh;
  opacity: 0;
  width: 40px;
  height: 40px;
  animation: eatme3 12s ease-in infinite; }

.inspo__img {
  width: 50%;
  min-width: 300px; }

.prod__muestra_img {
  width: 230px;
  height: 320px;
  padding: 5px; }

.secret1 {
  opacity: 0;
  top: 20vh;
  right: auto;
  width: 70px;
  height: 70px;
  margin: 10px;
  animation: floating1 10s ease-in-out infinite; }

.secret2 {
  opacity: 0;
  top: 20vh;
  right: auto;
  width: 70px;
  height: 70px;
  margin: 10px;
  animation: floating2 10s ease-in-out infinite; }

.secret3 {
  opacity: 0;
  top: 20vh;
  right: auto;
  width: 70px;
  height: 70px;
  margin: 10px;
  animation: floating3 10s ease-in-out infinite; }

.productos_image {
  width: 250px;
  height: 320px;
  margin: 5px; }

.colors {
  width: 120px;
  height: 150px;
  text-align: center;
  padding: 5px; }

.examples {
  width: 220px;
  height: 250px;
  text-align: center;
  padding: 5px; }

.selecting {
  background-color: #DE7A8E;
  border: 1px solid;
  border-color: #743A25;
  text-align: center; }

.container-selecting {
  text-align: center; }

.size {
  background-color: pink;
  border: solid 2px fuchsia;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1rem;
  width: 40px; }

.colored, .phrases {
  background: none;
  color: inherit;
  border: none; }

.disabled {
  pointer-events: none; }

.selected {
  border: solid 6px #9F6272; }

button:active {
  border: none; }

.unavailable {
  cursor: none; }

.how2buy__step {
  margin: 2px; }
  .how2buy__step > img {
    width: 100px;
    height: 100px; }

.thetable {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .thetablecell {
    float: none;
    display: table-cell;
    vertical-align: middle; }

.card {
  background-color: #DE7A8E;
  margin-top: 5px; }
  .card-header {
    background-color: #b66177;
    border-color: #9F6272;
    border: 1px solid; }
  .card-link:hover {
    color: #482F5F; }

.btn-primary {
  background-color: #9F6272;
  border-color: #743A25;
  margin: 10px; }
