h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    color: #9F6272;
    animation-name: bigger;
    animation-duration: 5s;
    animation-iteration-count: 2;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.text{
    font-family: 'League Spartan', sans-serif;
    color: #743A25;
    text-align: justify;
    padding: 10px;
    font-size: 1.5rem;
}